.carousel {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%  50%  50%  50%  / 60%   60%   40%  40%;
}
.highlighted {
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: tomato;
  border-radius: 50%  50%  50%  50%  / 60%   60%   40%  40%;
}
#person {
  height: 600px;
  width: 600px;
  background-color: tomato;
  text-align: center;
  font-size: 24px;
  margin: 40px auto;
  border-radius: 50%  50%  50%  50%  / 60%   60%   40%  40%;
  box-shadow: inset 0px 20px 112px 4px rgba(122,122,122,1), 0px 20px 112px 10px rgba(0,0,0,0.6);

}
nav {
  text-align: center;
}
.attr {
  padding-top: 20%;
  border: 3px;
  max-width: 400px;
  padding-left: 15%;
}
#next {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 20px;
}
#prev {
  display: inline-block;
  margin-left: 45%;
  margin-right: 10px;
  margin-bottom: 20px;
}
h1 {
  /*background-color: rgba(255, 237, 0, 0.5);*/
  text-align: center;
  margin: 0 0;
}
body {
  background-color: rgba(255, 237, 0, 0.5);

}
